version: "3.8"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3002:3002"
    env_file: .env
    environment:
      - TZ=America/Sao_Paulo
    restart: unless-stopped
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
